
<!-- Cabecalho -->
<head th:fragment="cabecalho(titulo)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title th:text="${titulo}">Título</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

  <!-- se tiver CSS local -->
  <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>

<!-- outros fragments -->


<!--Home-->
<button th:fragment="voltarHome" type="button" class="px-6 py-2 rounded-xl text-white shadow-md bg-gradient-to-r
      from-blue-500 to-blue-700">
  <a href="/home"><b>Voltar para Home</b></a>
</button>


<!-- Entrar -->


<!-- Logout -->
<form th:fragment="form-logout" th:action="@{/logout}" method="post">
  <button type="submit" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition duration-200">
    <i class="fas fa-sign-out-alt mr-1"></i>
    Logout
  </button>
</form>

<!-- Cancelar -->
<button th:fragment="botao-cancelar" type="button" class="px-6 py-3 bg-gray-500 hover:bg-gray-600 text-white rounded-lg font-semibold transition duration-200">
  <i class="fas fa-times mr-2"></i>
  Cancelar
</button>

<!-- Salvar -->
<button th:fragment="botao-salvar" type="submit" class="px-6 py-3 bg-green-600 hover:bg-green-700 text-white rounded-lg font-semibold transition duration-200">
  <i class="fas fa-save mr-2"></i>
  Salvar
</button>


<!-- Rodapé -->
<footer th:fragment="rodape" class="bg-green-500 w-full fixed bottom-0 left-0">
<!--  <img src="@{/img/logoDF.png}" alt="logoYF"/>-->
  <p class="text-center text-gray-950 text-sm mt-6"><b>· DEV · FORGE ·</b></p>
  <p class="text-center text-gray-950 text-sm ">&copy; 2025 - Yard Flow</p>
  <p class="text-center text-gray-950 text-sm ">yardflow@devforge.com.br</p>
</footer>


