<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho(Login)}"/>

<body class="bg-gray-100 bg-dots flex items-center justify-center h-screen">
<div class="bg-white shadow-lg rounded-xl p-8 w-96">
  <h1 class="text-center text-2xl font-bold text-green-700 mb-6">Yard Flow</h1>
  <form th:action="@{/loginhtml}" method="post" class="space-y-4">
    E-mail: <input class="form-control" type="text" name="email" placeholder="email"
           class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:ring-green-400" />
    Senha: <input class="form-control" type="password" name="password" placeholder="Senha"
           class="w-full border rounded-lg p-2 focus:outline-none focus:ring focus:ring-green-400" />

    <div th:if="${param.falha}">
      <p class="text-red-500"><b>Email ou senha inválidos</b></p>

    </div>

    <button th:replace="^{fragmentos :: entrar}"/>
  </form>
</div>

<footer th:replace="~{fragmentos :: rodape}" />
</body>
</html>