<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YardFlow</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #D7DFD9;
            background-image: radial-gradient(rgba(8, 200, 38, 0.2) 0.2px, transparent 1px);
            background-size: 25px 25px;
        }
    </style>
</head>


<body class="flex flex-col min-h-screen text-gray-800">

<!-- Header com Logout -->
<header class="bg-green-600 p-4 shadow-md flex justify-between items-center">
    <h1 class="text-white text-xl font-bold">YardFlow</h1>
    <div th:replace="~{fragmentos :: voltarHome}"></div>
    <div th:replace="~{fragmentos :: form-logout}"></div>

</header>


<div class="bg-white shadow-lg rounded-xl p-8 w-96">


    <div class="row">
        <h1>Cadastro de Usuário</h1>
    </div>
    <div class="row">

        <form th:object="${usuario}" action="/insere_usuario" method="post">

            Nome: <input class="form-control" type="text" th:field="*{nome}">
            Email: <input class="form-control" type="text" th:field="*{email}">
            Senha: <input class="form-control" type="password" th:field="*{senha}">
            Funções:
            <select class="form-select" th:name="'id_funcao'">
                <option th:each="funcao : ${lista_funcoes}" th:value="${funcao.id}" th:text="${funcao.nome}" />
            </select><br>

            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <button th:replace="~{fragmentos :: botao-salvar}('Salvar Cadastro')"/>
        </form>


    </div>
    <div class="row">
        <a href="/home">Home</a>
    </div>
</div>

<!-- Rodapé -->
<footer th:replace="~{fragmentos :: rodape}"></footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>
</html>