<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>YardFlow</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      background-color: #D7DFD9;
      background-image: radial-gradient(rgba(8, 200, 38, 0.2) 0.2px, transparent 1px);
      background-size: 25px 25px;
    }
  </style>
</head>
<body class="flex flex-col min-h-screen text-gray-800">

<header th:replace="fragments/header :: header"></header>

<main class="flex-1 flex items-center justify-center p-8">
  <div class="w-full max-w-5xl bg-gray/70 border-4 border-green-700 rounded-2xl p-10 shadow-lg">

    <h1 class="text-5xl font-bold text-center text-green-800 mb-10">
      YardFlow - Fluxo de Entrada e Saída
    </h1>

    <table class="w-full border-collapse bg-gray-100 rounded-lg shadow-lg">
      <thead class="bg-green-700 text-white">
      <tr>
        <th class="p-3 text-left">ID</th>
        <th class="p-3 text-left">Moto</th>
        <th class="p-3 text-left">Data Entrada</th>
        <th class="p-3 text-left">Data Saída</th>
        <th class="p-3 text-center">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="fluxo : ${yardflows}" class="border-b hover:bg-green-50">
        <td class="p-3" th:text="${fluxo.id}"></td>
        <td class="p-3" th:text="${fluxo.moto.placa}"></td>
        <td class="p-3" th:text="${fluxo.dataEntrada}"></td>
        <td class="p-3" th:text="${fluxo.dataSaida}"></td>
        <td class="p-3 text-center space-x-2">
          <a th:href="@{/yardflow/editar/{id}(id=${fluxo.id})}"
             class="px-4 py-2 bg-green-600 hover:bg-green-800 text-white rounded-lg">Editar</a>
          <a th:href="@{/yardflow/excluir/{id}(id=${fluxo.id})}"
             class="px-4 py-2 bg-gray-400 hover:bg-red-500 text-white rounded-lg">Excluir</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
